.vantagens {
    display: flex;
    gap: 2rem;
    max-width: 62.5rem;
    margin: 1rem auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.vantagens-titulo {
    font-size: 3rem;
    letter-spacing: 2px;
    background: url(./img/onda.svg);
    color: #ffbb00;
    margin-top: 30px;

}

.vantagens-lista {
    padding: 1rem;
}

.vantagens-lista li {
    margin: 1rem 0;
    background-color: #000000;
    padding: 2rem;
    border-radius: 10px;
}

.vantagens h3 {
    margin: 10px 0;
    font-size: 1.4rem;
}